/node_modules/
/out/
/dist/
/bin/

# Logs
logs
*.log
npm-debug.log*

/.env

.taskkey

# Visual Studio
.vs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache

# Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
