<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dpx-vote.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1d91eeaf-f7ed-4a77-b49a-2e6085c9f56c/resourceGroups/VotingApp/providers/Microsoft.Web/sites/dpx-vote</ResourceId>
    <UserName>$dpx-vote</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://dpx-vote.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>