# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
#
# CI workflow for PRs and merges to master
# https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
name: PullRequest

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Build and test
        run: |
          npm config set //npm.pkg.github.com/:_authToken=${{ secrets.GPR_ACCESS_TOKEN }}
          npm i
          npm run ci
        # Note: To set version:
        # npm run ci -- --major 1 --minor 0 --patch 30
        # all version parts are optional
        # each will default to whatever version is set to in src at extension/extension-manifest.json
        # Example:
        # npm run ci --patch 30
        # "version": "1.0.29" (in extension-manifest.json)
        # output VSIX version: 1.0.30
        env:
          AZ_DevOps_Read_PAT: ${{ secrets.AZ_DevOps_Read_PAT }}
